<h1>New Job</h1>
<%= bootstrap_form_for :job, url: jobs_path do |f| %>
  <p>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.text_area :hour_rate %>
  </p>

  <p>
    <%= f.text_area :tax_rate %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>